html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    background: linear-gradient(142deg, #151223, #073b30);
    color: white;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

.wrapper {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

img {
    width: 200px;
    height: 200px;
    display: block;
    object-fit: cover;
}

h1 {
    font-size: 6rem;
    color: #ffce00;
    font-family: 'Playfair Display', serif;
    margin-bottom: 0;
    border-bottom: 4px solid white;
    padding-bottom: 10px;
}

h2 {
    font-size: 3.6rem;
    color: #ffce00;
    margin-top: 8px;
}

p,
label {
    font-size: 2rem;
}

/* header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0;
}

.search-bar {
    margin-top: 8px;
}

input {
    border: solid 3px #ffce00;
    border-radius: 0;
    height: 38px;
    margin: 0;
    transition: 0.3s;
}

input[type='text'] {
    margin-right: -4.2px;
    padding-left: 8px;
    background: transparent;
    color: rgba(255, 255, 255, 0.9);
}

input[type="text"]:hover,
input[type="text"]:focus {
    background-color:white;
    color:  #0f2128;
}


input[type="submit"] {
    background-color: #ffce00;
    color: #0f2128;
    padding: 0 15px;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    color: white;
}

/* section */
.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gif-box {
    margin: 30px 10px;
    width: 212px;
}

.img-box {
    border: 6px solid #ffce00;
}



@media (max-width: 780px) {
    .results {
        justify-content: space-evenly;
    }
}

@media (max-width: 690px) {
    header {
        flex-direction: column;
    }
}

@media (max-width: 375px) {
    form {
        text-align: center;
    }

    input {
        width: 100%;
    }

    input[type='text'] {
        margin: 0;
    }
}